<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form #3</title>
    <link rel="stylesheet" href="../../dist/css/styles/modules/form.css">
</head>
<body>

<form action="#" method="Post">
    <fieldset class="Form-">
        <legend>Form #3</legend>

        <table class="Form-table">
            <caption><p>Please take a moment to tell us whant you think about our site:</p></caption>
            <colgroup class="Form-block-left">
            <colgroup class="Form-block-right">
                <tr class="Form-tr">
                    <td colspan="2" class="Form-td">
                        <p>Name</p>
                        <label><input type="text" class="Form-input-text"></label>
                    </td>

                </tr>
                <tr class="Form-tr">
                    <td colspan="2" class="Form-td">
                        <p>Email:</p>
                        <label><input type="email" class="Form-input-text"></label>
                    </td>
                </tr>
                <tr class="Form-tr">
                    <td colspan="2" class="Form-td">
                        <p>How frequently do you visit our site?:</p>
                        <label>
                            <select class="Form-select">
                                <option value="">Site frequency:</option>
                                <option value="">Every day</option>
                                <option value="">Every week</option>
                                <option value="">Every month</option>
                            </select>
                        </label>
                    </td>
                </tr>
                <tr class="Form-tr">
                    <td colspan="2" class="Form-td">
                        <p>I frequently purchase the following products from our site?</p>
                        <ul class="Form-ul">
                            <li><input type="checkbox" class="Form-input-checkbox"><label class="Form-label">Software</label></li>
                            <li><input type="checkbox" class="Form-input-checkbox"><label class="Form-label">Cookware</label></li>
                            <li><input type="checkbox" class="Form-input-checkbox"><label class="Form-label">Chef`s Hats</label></li>
                        </ul>
                    </td>
                </tr>
                <tr class="Form-tr">
                    <td colspan="2" class="Form-td">
                        <p>Our site`s greatest asset is</p>
                        <ul class="Form-ul">
                            <li><input type="radio" name="form3" class="Form-input-radio"><label class="Form-label">Product selection</label></li>
                            <li><input type="radio" name="form3" class="Form-input-radio"><label class="Form-label">Cool design</label></li>
                            <li><input type="radio" name="form3" class="Form-input-radio"><label class="Form-label">Customer Service</label></li>
                        </ul>
                    </td>
                </tr>
                <tr class="Form-tr">
                    <td colspan="2" class="Form-td">
                        <p>Comments</p>
                        <label><textarea rows="10" class="Form-textarea"></textarea></label>
                    </td>
                </tr>
        </table>
        <input type="submit" value="Submit" class="Button">
    </fieldset>
</form>

</body>
</html>