<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form #1</title>
    <link rel="stylesheet" href="../../dist/css/styles/modules/form.css">
</head>
<body>
    <form action="">
        <fieldset class="Form">
            <legend>Form #1</legend>
            <table class="Form-table">
                <colgroup class="Form-block-left">
                <colgroup>
                    <tr class="Form-tr">
                        <td class="Form-td">Fname Lname</td>
                        <td class="Form-td">
                            <label><input type="text" class="Form-input-text"></label>
                        </td>
                    </tr>
                    <tr class="Form-tr">
                        <td class="Form-td">Email</td>
                        <td class="Form-td">
                            <label><input type="email" class="Form-input-email"></label>
                        </td>
                    </tr>
                    <tr class="Form-tr">
                        <td class="Form-td">Password</td>
                        <td class="Form-td">
                            <label><input type="password" class="Form-input-password"></label>
                        </td>
                    </tr>
                    <tr class="Form-tr">
                        <td class="Form-td">Confirm password</td>
                        <td class="Form-td">
                            <label><input type="password" class="Form-input-password"></label>
                        </td>
                    </tr class="Form-tr">
                    <tr class="Form-tr">
                        <td colspan="2" class="Form-td">
                            <input type="checkbox" class="Form-input-checkbox"><label class="Form-label">I accept the user agreement</label>
                        </td>
                    </tr>
            </table>
            <input type="button" value="Registration" class="Button">
        </fieldset>
    </form>
</body>
</html>