<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form #2</title>
    <link rel="stylesheet" href="../../dist/css/styles/modules/form.css">
</head>
<body>
<form action="">
    <fieldset class="Form-">
        <legend>Form #2</legend>
        <table class="Form-table">
            <caption><p>Account Information</p></caption>
            <colgroup class="Form-block-left">
            <colgroup class="Form-block-right">
                <tr  class="Form-tr">
                    <td  class="Form-td"><label for="login">Login Name<sup>*</sup></label></td>
                    <td  class="Form-td">
                        <label><input id="login" type="text" class="Form-input-text"></label>
                    </td>
                </tr>
                <tr  class="Form-tr">
                    <td  class="Form-td"><label>Password<sup>*</sup></label></td>
                    <td  class="Form-td">
                        <label><input type="password" name="pswd" class="Form-input-password"></label>
                    </td>
                </tr>
                <tr  class="Form-tr">
                    <td  class="Form-td"><label>Confirm Password<sup>*</sup></label></td>
                    <td  class="Form-td">
                        <label><input type="password" name="pswd2" class="Form-input-password"></label>
                    </td>
                </tr>
                <tr  class="Form-tr">
                    <td  class="Form-td"><label>Email Address<sup>*</sup></label></td>
                    <td  class="Form-td">
                        <label><input type="email" name="mail" class="Form-input-email"></label>
                    </td>
                </tr>
                <tr  class="Form-tr">
                    <td  class="Form-td"><label>Confirm Email<sup>*</sup></label></td>
                    <td  class="Form-td">
                        <label><input type="email" name="mail2" class="Form-input-email"></label>
                    </td>
                </tr>
        </table>
        <table class="Form-table">
            <caption><p>Contact Information</p></caption>
            <colgroup class="Form-block-left">
            <colgroup class="Form-block-right">
                <tr  class="Form-tr">
                    <td  class="Form-td"><label>First Name<sup>*</sup></label></td>
                    <td  class="Form-td">
                        <label><input type="text" name="name" class="Form-input-text"></label>
                    </td>
                </tr>
                <tr  class="Form-tr">
                    <td  class="Form-td"><label>Last Name<sup>*</sup></label></td>
                    <td  class="Form-td">
                        <label><input type="text" name="name" class="Form-input-text"></label>
                    </td>
                </tr>
                <tr  class="Form-tr">
                    <td  class="Form-td"><label>Address 1<sup>*</sup></label></td>
                    <td  class="Form-td">
                        <label><input type="text" name="name" class="Form-input-text"></label>
                    </td>
                </tr>
                <tr  class="Form-tr">
                    <td  class="Form-td"><label>Address 2</label></td>
                    <td  class="Form-td">
                        <label><input type="text" name="name" class="Form-input-text"></label>
                    </td>
                </tr>
                <tr  class="Form-tr">
                    <td  class="Form-td"><label>City<sup>*</sup></label></td>
                    <td  class="Form-td">
                        <label><input type="text" name="name" class="Form-input-text"></label>
                    </td>
                </tr>
                <tr  class="Form-tr">
                    <td  class="Form-td"><label>State or Province<sup>*</sup></label></td>
                    <td  class="Form-td">
                        <label>
                            <select class="Form-select">
                                <option>Select...</option>
                                <option>Dnipro</option>
                                <option>Kiev</option>
                                <option>Budapest</option>
                            </select>
                        </label>
                    </td>
                </tr>
                <tr  class="Form-tr">
                    <td  class="Form-td"><label for="zip">Zip<sup>*</sup></label></td>
                    <td  class="Form-td">
                        <label><input id="zip" type="number" class="Form-input-number"></label>
                    </td>
                </tr>
                <tr  class="Form-tr">
                    <td  class="Form-td"><label>Country<sup>*</sup></label></td>
                    <td  class="Form-td">
                        <label><input type="text" name="name" class="Form-input-text"></label>
                    </td>
                </tr>
                <tr  class="Form-tr">
                    <td  class="Form-td">Gender<sup>*</sup></td>
                    <td  class="Form-td">
                        <input type="radio" name="form2" class="Form-input-radio"><label class="Form-span">Male</label>
                        <input type="radio" name="form2" class="Form-input-radio"><label class="Form-span">Female</label>
                    </td>
                </tr>
        </table>
        <table class="Form-table">
            <caption><p>Misc. Information</p></caption>
            <colgroup class="Form-block-left">
            <colgroup class="Form-block-right">
                <tr  class="Form-tr">
                    <td  class="Form-td">Annual Household income</td>
                    <td  class="Form-td">
                        <label>
                            <select class="Form-select">
                                <option>Select...</option>
                                <option>100</option>
                                <option>1000</option>
                                <option>10000</option>
                            </select>
                        <label>
                    </td>
                </tr>
                <tr  class="Form-tr">
                    <td  class="Form-td">Interests</td>
                    <td  class="Form-td">
                        <input type="checkbox" class="Form-input-checkbox"><label>Shopping/fashion</label>
                        <input type="checkbox" class="Form-input-checkbox"><label>Sports</label>
                        <input type="checkbox" class="Form-input-checkbox"><label>Travel</label>
                    </td>
                </tr>
                <tr  class="Form-tr">
                    <td  class="Form-td">Eye color</td>
                    <td  class="Form-td">
                        <input type="checkbox" class="Form-input-checkbox"><label>Red</label>
                        <input type="checkbox" class="Form-input-checkbox"><label>Green</label>
                        <input type="checkbox" class="Form-input-checkbox"><label>Brown</label>
                        <input type="checkbox" class="Form-input-checkbox"><label>Blue gold</label>
                    </td>
                </tr>
        </table>
        <input type="submit" name="" value="Submit" class="Button">
        <input type="reset" name="" value="Reset" class="Button Button--margin">

        </table>
    </fieldset>
</form>

</body>
</html>