<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../dist/css/styles/modules/form.css">
</head>
<body>
<form action="">
    <fieldset class="Form">
        <legend>Form #4</legend>
        <table class="Form-table">
            <caption><p>Novell Service Login</p></caption>
            <colgroup class="Form-block-left Form-block-left--resize">
            <colgroup class="Form-block-right Form-block-right--resize">
                <tr class="Form-tr">
                    <td class="Form-td">Username:</td>
                    <td class="Form-td">
                        <label><input type="text" class="Form-input-text"></label>
                    </td>
                </tr>
                <tr class="Form-tr">
                    <td class="Form-td">Password</td>
                    <td class="Form-td">
                        <label><input class="Form-input-email" type="email"></label>
                    </td>
                </tr>
                <tr class="Form-tr">
                    <td class="Form-td">City of Employment:</td>
                    <td class="Form-td">
                        <label><input class="Form-input-password" type="password"></label>
                    </td>
                </tr>
                <tr class="Form-tr">
                    <td class="Form-td">Web server</td>
                    <td class="Form-td">
                        <label>
                            <select class="Form-select">
                                <option value="">-Choose a server-</option>
                                <option value="">Ukraine</option>
                                <option value="">USA</option>
                                <option value="">Netherlands</option>
                            </select>
                        </label>
                    </td>
                </tr>
                <tr class="Form-tr Form-tr--custom">
                    <td class="Form-td">Please specify you role:</td>
                    <td class="Form-td">
                        <ul class="Form-ul">
                            <li><input class="Form-input-radio" type="radio" name="form4"><label class="Form-label">Engineer</label></li>
                            <li><input class="Form-input-radio" type="radio" name="form4"><label class="Form-label">Admin</label></li>
                            <li><input class="Form-input-radio" type="radio" name="form4"><label class="Form-label">Manager</label></li>
                            <li><input class="Form-input-radio" type="radio" name="form4"><label class="Form-label">Guest</label></li>
                        </ul>
                    </td>
                </tr>
                <tr class="Form-tr Form-tr--custom">
                    <td class="Form-td">Single sign-on to the following</td>
                    <td class="Form-td">
                        <ul class="Form-ul">
                            <li><input class="Form-input-checkbox" type="checkbox"><label class="Form-label">Mail</label></li>
                            <li><input class="Form-input-checkbox" type="checkbox"><label class="Form-label">Payroll</label></li>
                            <li><input class="Form-input-checkbox" type="checkbox"><label class="Form-label">Pay-service</label></li>
                        </ul>
                    </td>
                </tr>
        </table>
        <input class="Button" type="button" value="Login">
        <input class="Button Button--margin" type="reset" value="Reset">
    </fieldset>
</form>
</body>
</html>